@import './base.scss';
@import '../styles/_variables';

#app {
  max-width: 1280px;
  margin: 0 auto;
  background:$Lightblue;
  font-weight: normal;
}

.row {
  display:flex;
  justify-items: center;
}

.container {
  width:80%;
  margin:0 auto;
}

.information__title {
  font-weight:600;
  color:$Marineblue;
}
.information__text {
color:$CoolGray;
}
  
h3 {
color:$Marineblue
}
 
p {
  margin-bottom:0;
}


main, header, footer {
  .row {
      flex-direction:column;
      align-items:center;
}
}

.steps__count, a,
.green {
  text-decoration: none;
  color: $White;
  transition: 0.4s;
}

@media (hover: hover) {
  .steps__count
  
  :hover {
    color:$Marineblue;
    background: $Pastelblue;
  }
}

@media (min-width: 800px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-areas:
    "head main main main"
    "head foot foot foot"
    ;
    padding: 1rem;
    background:$White;
    border-radius:1rem;
  }
}
