@import './base.scss';
@import '../styles/_variables';

 *, *::before, *::after {
  box-sizing:border-box;
}

* {
  margin:0;
  padding:0;
}


#app {
  max-width: 1000px;
  margin: 0 auto;
  padding:6rem;
  outline:5px solid green;
  background:$Lightblue;
  font-weight: normal;
  transition:0.7s ease-in-out;
}

.row {
  display:flex;
  justify-content: center;
  align-items:center;
}

.container {
  width:100%;
  margin:0 auto;
}

h3 {
  color:$Marineblue
}

p {
  color:$CoolGray;
  margin-bottom:0;
}

img, picture, input, form {
  max-width:100%;
  display:block;
}

main, header, footer {
  outline:5px solid green;
  .row {
    flex-direction:column;
  }
}

.steps__count, a,
.green {
  text-decoration: none;
  color: $White;
  transition: 0.4s;
}

@media (hover: hover) {
  .steps__count
  
  :hover {
    color:$Marineblue;
    background: $Pastelblue;
  }
}

@media (min-width: 800px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-areas:
    "head main main"
    "head foot foot"
    ;
    align-items: center;
    padding: 1rem;
    background:$White;
    border-radius:1rem;
  }
}
